<h2>
  <%= link_to post.title, post %>
</h2>

<p>
  <%= simple_format post.content %>
</p>

<p class="text-muted">
    <small></small> Posted On: <%= post.created_at.to_formatted_s(:long)  %></small>
</p>
